.cardItemDetailContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    color:#fff;
    margin:auto;
    margin-top:3rem;
    
    .cardItemDetail__image {
        display: flex;
        flex-direction: column;
        flex-basis:100%;
        flex:0.25;
        margin-right:2rem;
        img {
            width:90%;
        }
       
    }
    .cardItemDetail__contents{
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-basis:100%;
        flex:0.6;
        h1 {
            font-weight:bold;
            font-size:2.5rem;
            margin-bottom:1.5rem;
            margin-top:0;
        }
        p {
            font-weight:100;
        }
    }

}

