.filterItem {
    width:6rem;
    height:32px;
    border-radius:8px;
    border:none;
    margin-right:1rem;
    cursor: pointer;
    &:hover {
        background-color:darken(rgb(0,0,0),10%)
    }
}